/* miniprogram/pages/addaddress/addaddress.wxss */
.maincontainer{
  font-family: Arial, Helvetica, sans-serif;
  color: #666666;
}

.cardtitle{
  display: inline-flex;
  align-items: flex-end;
  width: 100%;
  padding: 40rpx 30rpx 10rpx 30rpx;
  font-size: 30rpx;
  font-weight: bold;
}

.reccard{
  margin-top: 20rpx;  
  padding-bottom: 30rpx;
  background-color: white;
  width: 100%;
  height: auto;
  box-shadow: 0 4rpx 8rpx 0 rgba(0, 0, 0, 0.062), 0 6rpx 20rpx 0 rgba(0, 0, 0, 0.075);
}

.textinput{
  font-size: small;
  width: 660rpx;
  margin: 10rpx 40rpx 20rpx 40rpx;
  border-bottom-style: solid;
  border-bottom-width: 3rpx;
  border-bottom-color: #d5d5d5;
}

.textinput > picker{
  margin-top: 40rpx;
}

.btn {
  width: 560rpx;
}
