<!--miniprogram/pages/addtochart/addtochart.wxml-->
<view class="maincontainer">
  <view class="card">
    <view class="cardclose" bindtap="goHome">
      <text>X</text>
    </view>

    <view class="carddetail">
      <view class="carddetailimg">
        <view></view>
      </view>
      <view class="carddetailtxt">
        <view>
          <text style="line-height: 70rpx; padding: 30rpx; font-size:40rpx;">title</text>
        </view>
        <view>
          <text style="line-height: 20rpx; padding: 30rpx; font-size:30rpx;">keterangan</text>
        </view>
        <view>
          <text style="line-height: 20rpx; padding: 30rpx; font-size: 30rpx; color: red;">price</text> 
        </view>
      </view>
    </view>

    <view class="cardfooter">
      <view class="cardfooterleft">
        <text style="line-height: 90rpx; padding: 40rpx; font-size:30rpx;">total</text>
      </view>
      <view class="cardfooterright">
        <view class="button-min" bindtap="minus">-
        </view>
        <view class="counter">12
        </view>
        <view class="button-plus" bindtap="plus">+
        </view>
      </view>
    </view>
  </view>

  <view style="display: flex; justify-content: center; background-color: white;">
      <view class="btn green" bindtap="order">Buy Now</view>
      <view class="btn green" bindtap="order">Add to Chart</view>
  </view>

</view>
