/* miniprogram/pages/error/error.wxss */
.container {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  margin-top: 200rpx;
}

.errimg{
  max-width: 80%;
  align-items: center;
}

.errmsg{
  width: 580rpx;
  margin-top: 50rpx;
  font-size: medium;
  text-align: center;
}

.errttl{
  font-weight: bold;
  width: 580rpx;
  margin-top: 50rpx;
  font-size: x-large;
  text-align: center;
}

.btn {
  margin: 150rpx 0 150rpx 0;
  width: 350rpx;
  height: 100rpx;
  text-align: center;
  line-height: 100rpx;
  border: 3rpx solid black;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  font-size: 14px;
  font-weight: normal;
  cursor: pointer;
  display: inline-block;
}

.green {
  border-color: #4CAF50;
  color: white;
}

.green:hover {
  background-color: white;
  color: black;
}
