<!--miniprogram/pages/error/error.wxml-->
<view class="container">
  <view class="errimg">
    <image src="{{src}}"></image>
  </view>

  <view class="errttl">
    <text>{{title}}</text>  
  </view>

  <view class="errmsg">
    <text>{{errMsg}}</text>
  </view>  

  <view class="btn green" bindtap="goHome"> Back To Home</view>
</view>
