/**index.wxss**/
.productlist {
  padding: 10rpx 5rpx 20rpx 35rpx;
  
}

/* ini untuk fungsi scroll view */
.scroll-view_H{
  white-space: nowrap;
}

.maincontainer{
font-family: Arial, Helvetica, sans-serif;
color: #666666;
}



/* ======== ini optional untuk app bar di ga pakai component =========== */
.appbar {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  background-color: #46cf54;
  text-align: center;
}

/* ini untuk location yang di appbar */
.appbarmap{
  display: flex;
  flex-direction: row;
  text-align: left;
  line-height: 40rpx;
  font-weight: bold;
  color: white;
  width: 240rpx;
  font-size: 30rpx;
  padding: 50rpx 20rpx 50rpx 30rpx;
}

.appbarmap > image{
  padding-bottom: -5rpx;
  padding-right: 15rpx; 
  width: 40rpx; 
  height: 40rpx;
}

/* ini untuk searchbar yang di appbar hijau */
.searchbar{
  border-radius: 10rpx;
  text-align: left;
  width: 390rpx;
  height: 60rpx;
  background-color: whitesmoke;
  margin-top: 35rpx;
  padding: 10rpx 20rpx 10rpx 20rpx;  
}













/* ================================================ dari sini bawaan deafult ================================================ */
.userinfo, .uploader, .tunnel {
  margin-top: 40rpx;
  height: 140rpx;
  width: 100%;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-left: none;
  border-right: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: all 300ms ease;
}

.userinfo {
  padding-left: 120rpx;
}

.userinfo-avatar {
  width: 100rpx;
  height: 100rpx;
  margin: 20rpx;
  border-radius: 50%;
  background-size: cover;
  background-color: white;
}

.userinfo-avatar[size] {
  width: 100rpx;
}


.userinfo-avatar:after {
  border: none;
}

.userinfo-nickname {
  font-size: 32rpx;
  color: #007aff;
  background-color: white;
  background-size: cover;
  text-align: left;
  padding-left: 0;
  margin-left: 10px;
}

.userinfo-nickname::after {
  border: none;
}

.userinfo-nickname-wrapper {
  flex: 1;
}

.uploader, .tunnel {
  height: auto;
  padding: 0 0 0 40rpx;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
}

.uploader-text, .tunnel-text {
  width: 100%;
  line-height: 52px;
  font-size: 34rpx;
  color: #007aff;
}

.uploader-container {
  width: 100%;
  height: 400rpx;
  padding: 20rpx 20rpx 20rpx 0;
  display: flex;
  align-content: center;
  justify-content: center;
  box-sizing: border-box;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.uploader-image {
  width: 100%;
  height: 360rpx;
}

.tunnel {
  padding: 0 0 0 40rpx;
}

.tunnel-text {
  position: relative;
  color: #222;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  box-sizing: border-box;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.tunnel-text:first-child {
  border-top: none;
}

.tunnel-switch {
  position: absolute;
  right: 20rpx;
  top: -2rpx;
}

.disable {
  color: #888;
}

.service {
  position: fixed;
  right: 40rpx;
  bottom: 40rpx;
  width: 140rpx;
  height: 140rpx;
  border-radius: 50%;
  background: linear-gradient(#007aff, #0063ce);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  align-content: center;
  justify-content: center;
  transition: all 300ms ease;
}

.service-button {
  position: absolute;
  top: 40rpx;
}

.service:active {
  box-shadow: none;
}

.request-text {
  padding: 20rpx 0;
  font-size: 24rpx;
  line-height: 36rpx;
  word-break: break-all;
}
