/* components/appbarchart/appbarchart.wxss */

.appbar {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  background-color: white;
  text-align: center;
}

/* ini untuk tombol backnya */
.appbarback{
  text-align: left;  
  padding: 60rpx 30rpx 30rpx 30rpx;
}

.appbarchart{
  text-align: left;  
  padding: 60rpx 30rpx 30rpx 40rpx;
}

/* ini untuk searchbar  */
.searchbar{
  border-radius: 10rpx;
  text-align: left;
  width: 450rpx;
  height: 70rpx;
  background-color: whitesmoke;
  margin-top: 40rpx;
  padding: 10rpx 20rpx 10rpx 20rpx;
}