/* components/chartitem/chartitem.wxss */
.maincontainer{
  font-family: Arial, Helvetica, sans-serif;
  color: #666666;
  width: 100%;
  height: 100%;
  background-color: whitesmoke;
}

.card{
  width: 100%;
  height: auto;
  margin-bottom: 3rpx;
  box-shadow: 0 4rpx 8rpx 0 rgba(0, 0, 0, 0.062), 0 6rpx 20rpx 0 rgba(0, 0, 0, 0.075);
}

.cardchecklist{
  background-color: white;
  width: 60rpx;
  height: auto;
  padding: 40rpx 10rpx 0 10rpx;
}

.carddetail{
  width: 100%;
  display: flex;
}

.carddetailimg{
  flex: 1;
  background-color: white;
  padding-top: 20rpx;
  padding-bottom: 20rpx;
}

.carddetailimg > view{
  background-color: whitesmoke;
  border-radius: 10rpx;
  height: 200rpx;
}

.carddetailtxt{
  flex: 2;
  background-color: white;
  padding-right: 40rpx;
  height: auto;
  padding-top: 30rpx;
}

.addgoods{
  width: 300rpx;
  align-items: flex-end;
  justify-content: flex-end;
  display: inline-flex;
}

.button-min{
  line-height: 50rpx;
  text-align: center;
  vertical-align: middle;
  width: 50rpx;
  height: 50rpx;
  border-style: solid;
  border-color: #dcdcdc;
  border-width: 3rpx;
}

.button-min:active{
  background-color: #46cf54;
  line-height: 50rpx;
  text-align: center;
  vertical-align: middle;
  width: 50rpx;
  height: 50rpx;
}

.button-plus{
  line-height: 50rpx;
  text-align: center;
  vertical-align: middle;
  width: 50rpx;
  height: 50rpx;
  border-style: solid;
  border-color: #dcdcdc;
  border-width: 3rpx;
}

.button-plus:active{
  background-color: #46cf54;
  line-height: 50rpx;
  text-align: center;
  vertical-align: middle;
  width: 50rpx;
  height: 50rpx;
}

.counter{
  line-height: 50rpx;
  text-align: center;
  vertical-align: middle;
  color: #46cf54;
  width: 100rpx;
  height: 50rpx;
  border-style: solid;
  border-color: #dcdcdc;
  border-width: 3rpx;
}
